<table>
    <thead>
    <tr>
        <th class="border">Atskaite par periodu</th>
    </tr>
    <tr>
        <td>2020-10-01 / 2020-10-28</td>
    </tr>
    <tr></tr>

    <tr>
        <th>Name</th>
                    <th>01-10</th>
                    <th>02-10</th>
                    <th>03-10</th>
                    <th>04-10</th>
                    <th>05-10</th>
                    <th>06-10</th>
                    <th>07-10</th>
                    <th>08-10</th>
                    <th>09-10</th>
                    <th>10-10</th>
                    <th>11-10</th>
                    <th>12-10</th>
                    <th>13-10</th>
                    <th>14-10</th>
                    <th>15-10</th>
                    <th>16-10</th>
                    <th>17-10</th>
                    <th>18-10</th>
                    <th>19-10</th>
                    <th>20-10</th>
                    <th>21-10</th>
                    <th>22-10</th>
                    <th>23-10</th>
                    <th>24-10</th>
                    <th>25-10</th>
                    <th>26-10</th>
                    <th>27-10</th>
                    <th>28-10</th>
                <th style="background-color: lightgoldenrodyellow" ">KOPĀ</th>
    </tr>
    </thead>
    <tbody>
            <tr>
            <td>Edžus Kašs</td>

                            <td>asdasd</td>
                            <td>8</td>
                            <td>---</td>
                            <td>---</td>
                            <td>8</td>
                            <td>8</td>
                            <td>8</td>
                            <td>8</td>
                            <td>8</td>
                            <td>---</td>
                            <td>---</td>
                            <td>8</td>
                            <td>8</td>
                            <td>asdasd</td>
                            <td>8</td>
                            <td>8</td>
                            <td>---</td>
                            <td>---</td>
                            <td>asdasd</td>
                            <td>8</td>
                            <td>8</td>
                            <td>asdasd</td>
                            <td>8</td>
                            <td>---</td>
                            <td>---</td>
                            <td>8</td>
                            <td>8</td>
                            <td>8</td>
                        <td>128</td>
        </tr>
    

    
    
    
    
    
    </tbody>
</table>
