<table class="border">
    <thead class="border">
    <tr>
        <th class="border">Atskaite par periodu</th>

    </tr>
    </thead>

    <tbody>
    <tr>

        <td>YOYOYOYO</td>
    </tr>
    </tbody>
</table

<table class="">
    <thead class="">

    <tr>
        <th>Vārds Uzvārds</th>



        <th>Kopā</th>

    </tr>

    </thead>

    <tbody>











    <td>YOOYOYO</td>
    </tbody>
</table>
