@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.work-date.show-hours .hours {
    display: inline-block;
}

.work-date .hours {
    display: none;
}

.work-date.show-hours .reason {
    display: none;
}

.work-date .reason {
    display: inline-block;
}

.work-date.show-comment .comment {
    display: inline-block;
}

.work-date .comment {
    display: none;
}
